:root{
    --clr-primary-cyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);

    --clr-neutral-darkblue: hsl(212, 21%, 14%);
    --clr-neutral-greyishblue: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fw-normal: 500;
    --fw-bold: 700;

    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;
}


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  

html{
    font-size: 62.5%;
}

body{
    background-color: var(--clr-primary-cream);
    min-height: 100vh;
    display: grid;
    place-content: center;
    margin: 1rem;
    font-family: var(--ff-base);
}

.container{
    min-width: 375px;
    display: grid;
    border-radius: 2rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 400px;
}

.content{
    padding: 2rem;
}

.flex-group{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.product-category{
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    color: var(--clr-neutral-greyishblue);
    font-weight: 500;
}

.product-name{
    font-weight: var(--fw-bold);
    font-size: 1.7rem;
    font-family: var(--ff-accent);
    line-height: 1;
}

.product-name>h1{
  margin: 1.5rem 0 ;
}

.product-description{
    font-size: 14px;
    color: var(--clr-neutral-greyishblue);
    padding-bottom: 2rem;
}

.product-price{
    font-weight: var(--fw-bold);
    font-size: 3rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary-cyan);
}

.product-price-before{
    text-decoration: line-through;
    font-size: 14px;
    color: var(--clr-neutral-greyishblue);
}

.cart-button{
background-color: var(--clr-primary-cyan);
border-radius: 1rem;
color: var(--clr-neutral-white);
width: 100%;
justify-content: center;
font-weight: var(--fw-bold);
padding: 1.5rem 0;
border-style: none;
font-size: 1.2rem;
gap: 1rem;
margin-top: 1.5rem;
cursor: pointer;
transition: background-color 0.3s;
}

.cart-button:hover{
  background-color: hsl(159, 82%, 13%);
}

@media screen and (min-width: 600px) {
  .container{
    grid-template-columns: 1fr 1fr;
max-width: 600px;
  }
  .content{
    padding: 3rem;
  }
  .product-price{
    margin-bottom: 1.5rem;
  }


}

